anyio==3.3.4
asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
fastapi==0.70.0
greenlet==1.1.2
h11==0.12.0
idna==3.3
psycopg2-binary==2.9.2
pydantic==1.8.2
python-dotenv==0.19.2
sniffio==1.2.0
SQLAlchemy==1.4.27
starlette==0.16.0
urllib3==1.26.7
uvicorn==0.15.0
shortuuid==1.0.8
sqlalchemy-cockroachdb==1.4.2
